- directories = directories.sort(function(a, b){return a.length-b.length})

mixin link(name)
      a.w3-btn.w3-btn-block.w3-hover-teal.w3-padding-16(href=name + "/index.html") #{name}

mixin base(directories, titlePage, rootPath)
  doctype
  html(lang="en")
    head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      title= titlePage
      link(rel="stylesheet", href= rootPath + "ressources/stylesheets/w3c.css")
      script(type='text/javascript', src= rootPath + "ressources/scripts/jquery-2.1.3.min.js")
    body(class="w3-content", style="max-width:1300px")

      // First Grid: Logo & About
      .w3-row
        .w3-half.w3-black.w3-container.w3-center(style="height:700px")
          .w3-padding-64
            h1 Jonathan Bonnaud
          .w3-padding-64
            a.w3-btn.w3-btn-block.w3-hover-blue-grey.w3-padding-16(href="#") Home
            a.w3-btn.w3-btn-block.w3-hover-teal.w3-padding-16(href="#work") My Work
            a.w3-btn.w3-btn-block.w3-hover-dark-grey.w3-padding-16(href="#work") Resume
            a.w3-btn.w3-btn-block.w3-hover-brown.w3-padding-16(href="#contact") Contact

        .w3-half.w3-blue-grey.w3-container(style="height:700px")
          .w3-padding-64.w3-center
            h1 About Me
            img.w3-margin.w3-circle(src= rootPath + "ressources/images/profilepic.jpg", alt="Person", style="width:50%")
            .w3-left-align.w3-padding-xxlarge
              p.
                Python developer. Cook and baker in my spared time, I also love playing board games and video games.
              p.
                Graduated with a Master's degree in Computer Science specialized in Natural Language Processing and Machine Learning.

      // Second Grid: Work & Resume
      .w3-row
        .w3-half.w3-light-grey.w3-center#work(style="min-height:800px")
          .w3-padding-64
            h2 My Work
            p Some of my projects.
          .w3-padding-64
                for dir in directories
                  +link(dir)

        .w3-half.w3-indigo.w3-container(style="min-height:800px")
          .w3-padding-64.w3-center
            h2 Resume
            p A draft from my CV
            .w3-container.w3-responsive
              table.w3-table
                tr
                  th Year
                  th Title
                  th Where
                tr.w3-white
                  td 2016-2018
                  td Master Computer Science - NLP
                  td Université de Nantes, France
                tr
                  td 2015
                  td Bachelor Computer Science
                  td Aix-Marseille University, France
                tr.w3-white
                  td 2013
                  td Erasmus Student
                  td Poznan University of Tech., Poland
      // Third Grid: Swing By & Contact
      .w3-row#contact
        .w3-half.w3-dark-grey.w3-container.w3-center(style="height:700px")
          .w3-padding-64
            h1 To contact me
          .w3-padding-64
            p ...for a cup of tea (I do not like coffee :p), or whatever.
            p Nantes, FRANCE
            p +37 7 70 37 22 64
            p jonathan.bonnaud.pro@gmail.com

        .w3-half.w3-teal.w3-container(style="height:700px")
          .w3-padding-64.w3-padding-xxlarge
            h1 Contact
            p.w3-opacity GET IN TOUCH
            form.w3-container.w3-card-2.w3-padding-32.w3-white(action="form.asp", target="_blank")
              .w3-group
                label Name
                input.w3-input(style="width:100%;", type="text", required, name="Name")
              .w3-group
                label Email
                input.w3-input(style="width:100%;", type="text", required, name="Email")
              .w3-group
                label Message
                input.w3-input(style="width:100%;", type="text", required, name="Message")
              button.w3-btn.w3-padding.w3-right(type=submit) Send

      // Footer
      footer.w3-container.w3-black.w3-padding-16
        p Powered by
        a(href="http://www.w3schools.com/w3css/default.asp", target="_blank") w3.css
